body {
    font-family: sans-serif;
}

.current-conditions-list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.current-conditions-list>li{
    text-align: center;
    margin-bottom: .75em;
}
.conditions-list-container{
    width: 33%;
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding: .5em;
    border: 1px solid #D5D5D5;
    display: inline-block;
}

li.min-max-temps {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: -0.25em;
}

.conditions-icon {
    margin-bottom: 0;
}

.conditions-icon img {
    width: 35%;
}

.current-description {
    margin-top: -1.25em;
}